@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

$carrot-color: #f7931e;
$black: #652e9f;
$white: #fff;
$light-color: #666;
$light-bg: #eee;
$border: 0.2rem solid $black;
$box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 4rem;
}

@mixin form-btn {
  width: 100%;
  text-align: center;
  &:hover {
    background: $black;
  }
}

@mixin white-btn {
  color: $white;
  border-color: $white;

  &:hover {
    color: $black;
  }

  &::before {
    background: $white;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $carrot-color;
    border-radius: 5rem;
  }
}

section {
  padding: 3rem 8%;
}

.heading {
  margin: 12rem 0 4rem 0;
  text-align: center;
  font-size: 3.5rem;
  color: $black;

  span {
    color: $carrot-color;
  }
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: $border;
  cursor: pointer;
  background: none;
  color: $black;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $black;
    z-index: -1;
    transition: 0.2s linear;
    clip-path: circle(0% at 0% 5%);
  }

  &:hover::before {
    clip-path: circle(100%);
  }

  &:hover {
    color: $white;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
}

.header {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(-10rem);

  &.active {
    transform: translateY(0rem);
  }

  .logo {
    font-size: 2.5rem;
    color: $black;
    font-weight: bolder;

    i {
      color: $carrot-color;
    }
  }

  .navbar a {
    margin: 0.5rem;
    font-size: 1.7rem;
    color: $light-color;

    &:hover {
      color: $carrot-color;
    }
  }

  .icons a,
  .icons div {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: $black;
    cursor: pointer;

    &:hover {
      color: $carrot-color;
    }
  }

  .login-form {
    position: absolute;
    top: 120%;
    right: 2rem;
    width: 35rem;
    border-radius: 1rem;
    background: $white;
    box-shadow: $box-shadow;
    padding: 2rem;
    display: none;

    &.active {
      display: block;
      animation: fadeIn 0.4s linear;
    }

    h3 {
      color: $black;
      font-size: 2.5rem;
      padding-bottom: 0.5rem;
    }

    .box {
      width: 100%;
      border-bottom: $border;
      border-width: 0.1rem;
      padding: 1.5rem 0;
      font-size: 1.6rem;
      color: $black;
      text-transform: none;
      margin: 1rem 0;
    }

    .remember {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem 0;

      label {
        font-size: 1.5rem;
        cursor: pointer;
        color: $light-color;
      }
    }

    .btn {
      @include form-btn();
      margin: 1.5rem 0;
    }

    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      a {
        font-size: 1.4rem;
        color: $carrot-color;

        &:hover {
          color: $black;
          text-decoration: underline;
        }
      }
    }
  }
}

#menu-btn {
  display: none;
}

.home {
  min-height: 120vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url(../public/image/banner-bienvenida-pc.png) no-repeat;
  background-position: center;
  position: relative;

  .btn-home {
    display: inline-block;
    width: 330px;
    margin-top: 11rem;
    margin-right: 15px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border-top-left-radius: 0;
    border: 0.2rem solid #f7931e;
    background: #f7931e;
    color: white;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    z-index: 0;
    position: relative;
    box-shadow: -4px 16px 1px #4d37ca;
  }

  .btn-home:hover {
    background: #e28a25;
  }

  @media (max-width: 500px) {
    background: url(../public/image/BIENVENIDA-MOVIL.png) no-repeat;
    background-size: cover;

    .btn-home {
      margin-right: 0px;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  .image {
    flex: 1 1 30rem;

    img {
      width: 100%;
      border-radius: 6rem 2rem;
    }
  }

  .content {
    flex: 1 1 0rem;

    h3 {
      color: $black;
      font-size: 4rem;

      span {
        color: $carrot-color;
      }
    }

    p {
      font-size: 1.6rem;
      color: $light-color;
      padding: 1rem 0;
      line-height: 2;
    }
  }
}

.dog-food,
.cat-food {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: center;

  .image {
    display: flex;
    justify-content: center;

    img:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    img {
      width: 45%;
      border-radius: 100%;
    }
  }

  .content {
    flex: 1 1 40rem;
    text-align: center;
    padding: 2rem;

    h3 {
      font-size: 3.5rem;
      color: $black;

      span {
        color: $carrot-color;
      }
    }

    p {
      padding: 1rem 0;
      line-height: 2;
      color: $light-color;
      font-size: 1.6rem;
    }

    .amount {
      font-size: 3.5rem;
      color: $black;
      padding: 0.5rem 0;
    }

    a {
      products img {
        height: 15rem;
        margin-top: 1rem;
      }

      &:hover img {
        transform: rotate(15deg);
      }
    }
  }
}

.cat-food {
  flex-wrap: wrap-reverse;
}
.shopContainer {
  display: flex;
  border-radius: 1rem;
  gap: 5rem;
}
.shop .products {
  @include grid(30rem);
  flex: 1;
  .box {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 560px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      .image img {
        transform: scale(1.05);
      }
    }

    .imageOferta {
      height: 90%;
      width: 90%;
      overflow: hidden;
      object-fit: cover;
      margin: 0px auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .image {
      height: 32rem;
      width: 40%;
      height: 60%;
      overflow: hidden;
      object-fit: contain;
      margin: 0px auto;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    h3 {
      font-size: 2rem;
      color: #666;
      padding-bottom: 0.5rem;
      text-align: center;
      font-weight: 400;
      padding: 1rem 0;
    }
    .content {
      padding: 1rem 2rem;
      text-align: center;

      h4 {
        color: #666;
        font-size: 1.5rem;
        padding-bottom: 2rem;
      }

      .amount {
        font-size: 2rem;
        color: $carrot-color;
        font-weight: bold;
        padding-bottom: 0.5rem;
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtersContainer {
  border-radius: 1rem;
  max-width: 380px;
}

@media (max-width: 768px) {
  .filtersContainer {
    margin: 0 auto;
  }
}

.filtersContainer button {
  background-color: $carrot-color;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

.filtersContainer select {
  color: black;
  width: 25%;
  padding: 1rem;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}

.categoryTitle {
  color: #fff;
  font-size: large;
  border-radius: 1rem 1rem 0 0;
}
.categoryContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);

  h2 {
    color: #fff;
    font-size: medium;
    border-radius: 8px;
  }
}
.categoryItem {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.filterHeading {
  font-size: large;
}

.labelPrice {
  font-size: medium;
  color: #000;
}
.priceBackground {
  background-color: rgb(239 239 239 / 54%);
  text-align: center;
  width: 100%;
}

.categoryItem span {
  font-size: medium;
  font-weight: normal;
}

.categoryItem img {
  border-radius: 100%;
}

.filters {
  display: flex;
  gap: 1rem;
}

.nameFilterContainer {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: min-content;
}

.nameFilterContainer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nameFilterContainer li {
  display: flex;
  gap: 1rem;
  font-size: medium;
}

.services .products {
  @include grid(40rem);

  .box {
    background: $light-bg;
    padding: 3rem;
    text-align: center;
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;

    &:nth-child(even) {
      border-radius: 79% 21% 81% 19% / 58% 93% 7% 42%;
    }

    &:hover {
      border-radius: 0.5rem;
    }

    img {
      border-radius: 7px;
    }

    i {
      height: 6.5rem;
      width: 6.5rem;
      line-height: 6.5rem;
      font-size: 3rem;
      color: $white;
      background: $carrot-color;
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 2.2rem;
      color: $black;
      padding: 1rem 0;
    }
  }
}

@media (max-width: 1440px) {
  .services .products {
    @include grid(40rem);
  }
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: center;
  overflow: hidden;
  height: 90%;
  margin: 10px 0;

  @media (max-width: 475px) {
    .modal-content {
      height: 60%;
      margin: 80px 0;
    }
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      font-weight: bold;
      color: white;
      margin-bottom: 0.5rem;
      background-color: #f7931e;
      border-radius: 7px;
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain; /* Ajusta a 'cover' si prefieres que cubra el área */
    background-repeat: no-repeat;
    background-position: center;
  }

  .background-image {
    width: 100%;
    height: 100%;
  }
}

.plan .products {
  @include grid(30rem);

  .box {
    position: relative;
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;
    margin-bottom: 2rem;
    background: $light-bg;

    .btn {
      position: absolute;
      bottom: -2rem;
      right: 2rem;
      background: $white;
    }

    .title {
      text-align: center;
      color: $carrot-color;
      font-size: 2rem;
    }

    .day {
      text-align: center;
      color: $black;
      font-size: 3.5rem;
    }

    .icon {
      color: $carrot-color;
      font-size: 5rem;
      padding: 2rem 0;
    }

    .list {
      margin: 1rem 0;

      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.4rem;
        color: $light-color;
        padding: 1rem 0;

        span {
          color: $carrot-color;
        }
      }
    }

    .amount {
      font-size: 5rem;
      font-weight: bolder;
      color: $black;

      span {
        font-size: 3rem;
      }
    }
  }
}

.contact {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  .image {
    flex: 1 1 40rem;

    img {
      width: 100%;
    }
  }

  form {
    flex: 1 1 40rem;
    padding: 2rem 7%;

    .btn {
      @include form-btn();
    }

    h3 {
      font-size: 3rem;
      padding-bottom: 1rem;
      color: $black;
    }

    .box,
    textarea {
      width: 100%;
      border-bottom: $border;
      border-width: 0.1rem;
      font-size: 1.6rem;
      text-transform: none;
      color: $black;
      padding: 1.5rem 0;
      margin: 1rem 0;
    }

    textarea {
      height: 15rem;
      resize: none;
    }
  }
}

.footer {
  position: relative;
  background-color: #000;
  padding-top: 10rem;
  padding-bottom: 2rem;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100%;
  }

  .share {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    a {
      @include white-btn();

      i {
        padding-right: 0.5rem;
      }
    }
  }

  .credit {
    text-align: center;
    color: $white;
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 2.5rem;

    @keyframes colorChange {
      0% {
        color: $black;
      }
      100% {
        color: $carrot-color;
      }
    }

    span {
      font-family: "Indie Flower", cursive;
      font-weight: bold;
      color: $carrot-color;
      animation: colorChange 4s linear infinite alternate;
      flex: 1;
    }
  }
}

.shoppingCart {
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  width: 350px;
  height: 100vh;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  h3 {
    margin-top: 3rem;
    font-size: 1.8rem;
  }

  .closeContainer {
    text-align: end;
    transition: scale 300ms ease;
  }

  .close {
    width: 15%;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.shoppingCart {
  /* Agrega estilos para personalizar la barra de desplazamiento */
  scrollbar-width: thin;
  scrollbar-color: #333 #ccc;
}

.shoppingCart::-webkit-scrollbar {
  width: 8px;
}

.shoppingCart::-webkit-scrollbar-track {
  background: #ccc;
}

.shoppingCart::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
}

.total {
  font-weight: bolder;
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
}

.empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comprarButton {
  background-color: $carrot-color;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: $box-shadow;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.boxCart {
  .imageItem {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }

  .amount {
    font-size: 2rem;
  }

  .qty {
    font-size: 2rem;
  }

  .delete {
    color: red;
    border: 1px solid red;
    background-color: transparent;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

.CheckoutButton {
  display: flex;
  justify-content: center;

  img {
    margin-top: 4rem;
  }

  .button-59 {
    margin-top: 4rem;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -0.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-59:focus {
    color: #171e29;
  }

  .button-59:hover {
    border-color: #13aa52;
    color: #13aa52;
    fill: #13aa52;
  }

  .button-59:active {
    border-color: #13aa52;
    color: #13aa52;
    fill: #13aa52;
  }

  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }
}

// media queries

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 5rem 2rem;
  }

  .home {
    justify-content: center;
    background-position: right;

    .content {
      text-align: center;
      padding-bottom: 5rem;

      h3 {
        font-size: 4.5rem;
      }
    }
  }
}
.hero-logo {
  width: 250px;
  filter: drop-shadow(0px 0px 16px white);
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header {
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $white;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      a {
        display: block;
        margin: 0.5rem;
        font-size: 2rem;
      }
    }
  }

  .shopContainer {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header {
    width: 425px;
  }

  .header .login-form {
    width: 50%;
  }

  .shopcontainer {
    flex-direction: column;
  }
}

.noResult {
  text-align: center;
  font-size: 3rem;
}

$midnight: #e67e22;
$clouds: #ecf0f1;

.row {
  display: flex;
  width: 100%;
  .col {
    flex: 1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  overflow: hidden;

  .check {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}
.tab {
  width: 100%;
  font-size: medium;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 0.4em 0.4em;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: black;
    background: white;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}
.ul {
  list-style: none;
}
.input {
  margin-right: 10px;
}
.pagination {
  display: flex;
  place-content: center;
  width: 100%;
  margin-top: 8rem;
}

.item-pagination {
  list-style: none;
  margin-right: 1rem;
  border: 1px solid #c7c7c7;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.item-pagination:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.pagination-number {
  color: #666;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.prueba {
  width: 100%;
  display: flex;
  flex-direction: column;
}
